body {
    margin: 0;
    position: relative;
}

.none {
    display: none;
}

.addClass {
    position: absolute;
    top: 200px;
    right: 230px
}

.canvas {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.p_canvas {
    position: absolute;
    z-index: 0
}